<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Default form</h4>
      <p class="card-description">Basic form layout</p>
      <form [formGroup]="InvoiceForm" class="forms-sample">
        <div class="form-group">
          <label for="exampleInputUsername1">Invoice Id</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUsername1"
            formControlName="invoiceId"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Invoice Name</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputUsername1"
            formControlName="invoiceDate"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputUsername1">Invoice Date</label>
          <input
            type="datetime"
            class="form-control"
            id="exampleInputUsername1"
            formControlName="invoiceName"
          />
        </div>
        <button
          (click)="showItem()"
          [disabled]="
            !GetControl('invoiceId')?.valid ||
            !GetControl('invoiceDate')?.valid ||
            !GetControl('invoiceName')?.valid
          "
          class="btn btn-gradient-primary me-2"
        >
          Add Items
        </button>
        <div *ngIf="ItemState">
          <div *ngFor="let item of Items">
            <input
              [ngModelOptions]="{ standalone: true }"
              type="checkbox"
              (change)="handleSelected(item.InvoiceId, item.IsSelected)"
              [(ngModel)]="item.IsSelected"
            />
            <span type="text"> {{ item.InvoiceName }} </span>
          </div>
          <button (click)="AddItems()">Add</button>
        </div>

        <table>
          <thead>
            <th>item id</th>
            <th>item name</th>
            <th>item quantity</th>
            <th>item price</th>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of GetFormArray('items').controls; let i = index"
              FormGroup="i"
            >
              <td>
                <span>{{ item.get("id")?.value }}</span>
              </td>
              <td>
                <span>{{ item.get("name")?.value }}</span>
              </td>
              <td>
                <span>{{ item.get("qty")?.value }}</span>
              </td>
              <td>
                <span>{{ item.get("Price")?.value }}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
