<nav class="bottom-navbar">
  <div class="container">
    <ul class="nav page-navigation">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Home">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Location">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Location</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Tours">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Tours</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Categories">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Categories</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Invoice">
          <i class="mdi mdi-home menu-icon"></i>
          <span class="menu-title">Invoice</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
